@charset "UTF-8";



body {
    background-image: linear-gradient(to left, #729599, #BCC5CE, #E6DFD9, #BFB3A8, #7A7067);
    color: #2c2825;
    align-items: center;

}

#gridContainer {
    padding-bottom: 10px;
}

table {
    background-color: #C5D6C6;
    border-spacing: 0;
}

td {
    border: 1px solid #F1F5DA;
    border-radius: 3px;
    width: 10px;
    height: 10px;
}

span {
    color: #222;
}


button {
    padding: .75em;
    border-radius: 5px;
    border: none;
    background: #4e6769;
            
    cursor: pointer;
}

button:hover {
    background:#729599;
    cursor: pointer;
    transition: all 0.30s ease-in-out;

}

a{
    color: black;
    
}



td.dead {
    background-color: transparent;
}

td.live {
    background-color: black;
    border-radius: 10px;
}

input {
    text-align: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}



div {
    padding: 5px;
}